@import 'switch_button';
@import 'multi_select';
@import 'auto_complete';
@import 'circular_button';
@import 'select';

.alert-danger {
  font-size: 0.85em;
  padding-left: 10px;
}

.user-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .wrapper-input-with-fa {
      display: flex;
      align-items: center;
  }

  .required {
      color: red!important;
  }
}
