.reminder-delimiter {
    margin-bottom: 10px;
}

.reminders-modal-dialog {
    max-width: 600px !important;
    margin: 30px auto;
}

.event-set-presence-component{
    .button-attendance {
        margin-left: 2px;
    }

    button.text-xs-center{
        margin-bottom: 4px;
    }
}