.no-news-data {
	.poster {
		max-width:  800px;
		max-height: 245px;
	}

	._styles__image-holder {
		max-height: 245px;
		padding-bottom: 210px;
	}

	.icon {
		max-width: 230px;
	}

	figure img {
		width: 100%;
		max-height: 245px;
	}

	figure img._styles__placeholder {
		max-width: 235px;
		margin: 0 auto;
		position: relative;
	}

	&.loading {
		.poster, .no-news-feed-text, .icon {
			opacity: 0;
		}
	}
}