/***
Page footer
***/

footer {
    background: #ffffff;
    padding: 15px 0 20px!important;
 
    width: 100%;
    .list-inline {
        text-align: center;
    }
}

footer.sticky {
    bottom:  0;
    position: absolute;
}