.not-found-template {
    text-align: center;

    .not-found-icon {
        font-size: 20rem;
    }

    .not-found-icon {
        color: black;
        opacity: 0.3;
    }

    .not-found-header {
        color: black;
        opacity: 0.5;
        font-weight: 900;
        font-family: Raleway
    }
}