@import 'manage_article_target_group';
@import 'article_management';
@import 'news_carrousel';
@import 'no_found_items';
@import 'article_card';
@import 'stats';
@import 'no_news_data';
@import 'meta_data';

.news-list-wrapper > div:after {
    content: "";
    display: table;
    clear: both;
}

.news-filter-by-tag {
	color: #838c9c;
    margin-bottom:  10px;
}